.u-center-text {text-align: center;}

.u-margin-bottom-s {margin-bottom: 1.5rem;}
.u-margin-bottom-m {margin-bottom: 4rem;}
.u-margin-bottom-l {margin-bottom: 8rem;}
.u-margin-bottom-xl {margin-bottom: 10rem;}

.u-hide {opacity: 0; visibility: hidden;}

.u-rot-135-plus {
    top:1.5rem;
    transform: rotate(135deg);
}
.u-rot-135-min{
    top: 1.5rem;
    transform: rotate(-135deg);
}